<!DOCTYPE html>

<html lang="en">

<head>
<!-- Load c3.css -->
    <link href="static/c3.css" rel="stylesheet">
    
<!-- Load d3.js and c3.js -->
    <script src="static/d3.min.js" charset="utf-8"></script>
    <script src="static/c3.min.js"></script>
    
    <div id="chart"></div>
</head>
<body>
    <script>
    
    function addvector(a,b){
         var d = a.map(function(e,i){
                          return e - b[i]
                       })
         return d;
     }
    
    var x = ['x', '01/01/2018', '01/02/2018', '01/05/2018', '01/19/2018', '02/04/2018', '03/05/2018'];
    var income = ['income', 30, 200, 100, 400, 150, 250];
    var expense = ['expense', 50, 20, 10, 40, 15, 25];
    var net = ['net'].concat(addvector(income.slice(1, income.len), expense.slice(1, expense.len))); //income - expense
    
    var total = ['total'];  // this should only be plotted when the dates are in order
    net.slice(1, net.len).reduce(function(a,b,i) { return total[i + 1] = a+b; }, 0);
    
    console.log(total);
    
    var chart = c3.generate({
        bindto: '#chart',
        data: {
          x: 'x',
          xFormat: '%m/%d/%Y',
          columns: [
            x,
            income,
            expense,
            net,
            total
          ],
          colors: {
            income: '#6EEAD7',
            expense: '#FF5B5E',
            net: '#6EBAEA',
            total: '#FFD06B'
          },
          types: {
            income: 'area-spline',
            expense: 'area-spline',
            net: 'area-spline',
            total: 'area-spline'
          }
        },
        subchart: {
          size: {
              height: 40
          },
          show: true
        },
        zoom: {
            enabled: true
        },
        axis: {
    
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m-%d',
                    //values: ['01/01/2018', '02/01/2018', '03/01/2018'],
                    fit: true,
                    rotate: 75
                }
            },
    
            y: {
    
                tick: {
    
                    format: d3.format("$,")
    
                }
            }
        }
    });
    
    chart.resize({height:600, width:1200})
    
    </script>
</body>
</html>
